.kopertina{
    position:absolute;
    top:20%;
    width:100%;
} 
.ikona 
{
    position:absolute;
    top:3%;
    left:61.5%;
    float:left;
}
a{
    
    display: inline block;
    text-decoration:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #535854 ;
    padding: 0px 5px;
    
}
#kerko
{
    position: absolute;
    
    top: 6%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgb(247, 198, 66);
    float: right;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
#butoni_kerkimit
{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 25%;
    background-color:rgb(247, 198, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}
#kerko:hover > #kerko_tekst 
{
    width: 240px;
    padding: 0 6px;
    
}
#kerko_tekst
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}
#logo
{
    padding: 0;
    margin: 0px;
    float: left;
    position: absolute;
    top: 6%;
    left:5%;
    transform: translate(-50%,-50%);
}
.kopertina{
    position:absolute;
    top:20%;
    width:100%;
}
*
{
    margin: 0px;
    padding: 0px;
    user-select: none;
}
.menu
{
    width: 100%;
    background-color: rgb(87, 224, 144);
    height: 60px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, 0.14);
    position: absolute;
    top: 13%;
    left:0;
}
nav.lista ul
{
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 75%;
    height:6px;
    margin: 0 auto;
    margin-left: 100px;
} 
nav.lista ul li
{
    width: 20% ;
    float: left;
    text-align: center;
    line-height: 60px;
    cursor:pointer;
    transition: all 0.5s ease;
}
nav.lista ul li:hover{
    
    background-color:#535854;
    background-color: rgba(83,88,84, 0.7);
}
nav ul li a{
    color:#fff;
    text-decoration:none;
}
.kategorite
{
    display: none;
    margin-left:-80px;
}
.menu ul li:hover .kategorite
{
    text-align: none;
    display: block;  
    font-size: 11px;          
    

}
.menu ul li:hover .kategorite ul
{
    display: block;
    
    
}
.menu ul li:hover  ul li
{
    display: block;
    width: 150px; 
}
.shkrimi{
    font-family:cursive;
    font-size: 40px;
    position:absolute;
    background-color: rgb(250, 235, 215);
    background-color: rgba(250, 235, 215,0.5);
    top:40%;
    text-align:center;
    float:none;
    max-width:700px;
    margin:100px 50px 0px 300px;
    color:#000;
    padding:40px;
    }
.rresh_nesh{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    top:30%;
    text-align:center;
    float:none;
    max-width:700px;
    margin:100px 50px 0px 300px;
    background-color: rgb(207, 83, 83);
    background-color: rgba(207, 83, 83,0.8);
    color:white;
    padding:40px;
    }
.kuti
{
    position:absolute;
    top:30%;
    
}
.kuti1
{
    position:absolute;
    top:140%;
    left:18%;
    
}

.produkt 
{
    background:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto 20px;
    margin-bottom:30px;
    text-align: center;
    font-family: verdana;
    float:left;
}

.cmimi
{
    color: grey;
    font-size: 22px;
}
.produkt .buton
{
    border: 1px solid rgb(255, 99, 71);
    background-color:rgb(255, 99, 71);
    outline: 0;
    padding: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.produkt a:hover 
{
    opacity: 0.7;
}
.shfleto
{
    background-color: peru;
}
.tabela_fshiAutore 
{
    position:absolute;
    top:5%;
    background-color:rgb(238, 232, 170);
    background-color:rgba(238, 232, 170,0.9);
    max-width:700px;
    margin:125px 50px 30px 550px;
    font-family:verdana;
    padding:10px;

}
.tabela_fshiAutore th, td 
{
    padding: 3px;
    text-align: left;
}
.tabela_fshiLibra
{
    position:absolute;
    top:10%;
    background-color:rgb(238, 232, 170);
    background-color:rgba(238, 232, 170,0.9);
    max-width:700px;
    margin:80px 50px 0px 400px;
    font-family:verdana;
    padding:0px;

}
.tabela_fshiLibra th, td 
{
    text-align: left;
}
.kontakto
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    top:45%;
    text-align:center;
    float:none;
    max-width:700px;
    margin:50px 50px 0px 300px;
    background-color: rgb(210, 105, 30);
    background-color: rgba(210, 105, 30,0.8);
    color:white;
    padding:40px;
}
.kuti
{
    position:absolute;
    top:38%;
    left:15%;
}  
.produkt1 
{
    background:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    max-height:1000px;
    margin: auto;
    text-align: center;
    font-family: verdana;
    padding-bottom: 13px;
}
.cmimi
{
    color: grey;
    font-size: 22px;
}
.produkt1 .buton
{
    border: 1px solid #000;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:#000;
    text-align: center;
    cursor: pointer;
    width: 15%;
    font-size: 18px;
}
.produkt1 img
{
    float:left;

}
.produkt1 a:hover 
{
    opacity: 0.7;
}
.permbajtja
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    top:38%;
    float:none;
    max-width:500px;
    margin:0px 50px 50px 500px;
    background-color: rgb(255, 160, 122);
    background-color: rgba(255, 160, 122,0.8);
    color:white;
    padding:25px;
}
.porosite
{
    position:absolute;
    top:20%;
    background-color:rgb(238, 232, 170);
    background-color:rgba(238, 232, 170,0.9);
    max-width:700px;
    margin:125px 50px 30px 215px;
    font-family:verdana;
    padding:40px;

}
.tabela
{
    position:absolute;
    top:20%;
    background-color:rgb(255, 250, 240);
    background-color:rgba(255, 250, 240,0.9);
    max-width:700px;
    margin:50px 50px 50px 450px;
    padding:40px;

}
.tabela th, td 
{
    border-bottom: 1px solid #ddd;
}
.porosite th, td 
{
    padding: 5px;
    text-align: left;
}
.format{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    top:30%;
    float:none;
    max-width:500px;
    margin:0px 50px 50px 450px;
    background-color: rgb(189, 183, 107);
    background-color: rgba(189, 183, 107,0.8);
    color:white;
    padding:25px;
}
.format p 
{
    padding-top:20px;
    
}
.shtoAutore
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    top:30%;
    float:none;
    left:40%;
    background-color: rgb(173, 216, 230);
    background-color: rgba(173, 216, 230,0.8);
    color:white;
    padding:50px;
}
.shtoLibra
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    top:30%;
    float:none;
    left:40%;
    background-color: rgb(173, 216, 230);
    background-color: rgba(173, 216, 230,0.8);
    color:white;
    padding:50px;
}
.users
{
    position:absolute;
    top:20%;
    background-color:rgb(238, 232, 170);
    background-color:rgba(238, 232, 170,0.9);
    max-width:700px;
    margin:125px 50px 30px 215px;
    font-family:verdana;
    padding:40px;

}
.users th, td 
{
    padding: 5px;
    text-align: left;
}
.tabela_shporta
{
    position:absolute;
    top:30%;
    background-color:rgb(241, 216, 236);
    background-color:rgba(241, 216, 236,0.9);
    max-width:700px;
    margin:40px 50px 0px 350px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:20px;

}
.tabela_shporta th, td 
{
    text-align: left;
}
.fundi-footer
{
    margin:auto;
    position:absolute;
    bottom:-195px;
    background: #535854;
    color:rgb(245, 204, 94);
    height: 50px;
    width: 100%;
    text-align: center;
    left:0px;
    padding-top: 20px;
    
}
.footer
{
    margin:auto;
    position:absolute;
    margin-top:1500px;
    background: #535854;
    color:rgb(245, 204, 94);
    height: 50px;
    width: 100%;
    text-align: center;
    left:0px;
    padding-top: 20px;
    
}
